In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier


# from mpl_toolkits.mplot3d import Axes3D
# from sklearn.preprocessing import scale
# import sklearn.metrics as sm
# from sklearn import datasets
# from sklearn.metrics import confusion_matrix

In [2]:
#load data
df = pd.read_csv('voice_gender_dataset/voice.csv')

In [3]:
df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [4]:
#check null values
#df.isnull().sum()

In [5]:
def unique(col):
    return df[col].nunique()

d = {}
for i in df.columns:
    value = unique(i)
    d[i] = value
print(d,sep="\n")

{'meanfreq': 3166, 'sd': 3166, 'median': 3077, 'Q25': 3103, 'Q75': 3034, 'IQR': 3073, 'skew': 3166, 'kurt': 3166, 'sp.ent': 3166, 'sfm': 3166, 'mode': 2825, 'centroid': 3166, 'meanfun': 3166, 'minfun': 913, 'maxfun': 123, 'meandom': 2999, 'mindom': 77, 'maxdom': 1054, 'dfrange': 1091, 'modindx': 3079, 'label': 2}

In [6]:
#x = df.iloc[:,:-1]
x = df[['meanfreq','sd', 'median', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']]
#x = df[['meanfreq','sd', 'median', 'centroid', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']]
#x = df[['meanfreq','sd', 'median', 'meanfun', 'minfun', 'maxfun', 'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx']]
y = df.label
x.head()

,meanfreq,sd,median,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,0.059781,0.064241,0.032027,0.000000,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000
1,0.066009,0.067310,0.040229,0.000000,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632
2,0.077316,0.083829,0.036718,0.000000,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512
3,0.151228,0.072111,0.158011,0.083878,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119
4,0.135120,0.079146,0.124656,0.104261,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274

In [7]:
y.head()

0    male
1    male
2    male
3    male
4    male
Name: label, dtype: object

In [8]:
df['label'].value_counts()

male      1584
female    1584
Name: label, dtype: int64

In [9]:
# data = ['Female','Male']
# d= [1584,1584]

In [10]:
#split dataset into training and test with test size as 20 percent
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

## Artificial Neural Networks

In [41]:
ANNmodel = MLPClassifier(hidden_layer_sizes=(100,), random_state = 1, max_iter=400, activation='relu', solver='adam')

In [42]:
%%time
ANNmodel.fit(x_train,y_train)
y_pred1 = ANNmodel.predict(x_test)

CPU times: total: 35.7 s
Wall time: 9.28 s

In [43]:
print('score of ANN model is: ', ANNmodel.score(x_test,y_test))

score of ANN model is:  0.9605678233438486

In [44]:
pd.crosstab(y_test,y_pred1,rownames=['Actual'],colnames=['Prediction'],margins = True)

Prediction  female  male  All
Actual
female         307    16  323
male             9   302  311
All            316   318  634

In [45]:
print("\t\t\tANN report:\n",classification_report(y_test,y_pred1))
print("ANN Accuracy score: ",accuracy_score(y_test,y_pred1)*100,"%")

			ANN report:
               precision    recall  f1-score   support

      female       0.97      0.95      0.96       323
        male       0.95      0.97      0.96       311

    accuracy                           0.96       634
   macro avg       0.96      0.96      0.96       634
weighted avg       0.96      0.96      0.96       634

ANN Accuracy score:  96.05678233438486 %

## Support Vector Machines

In [46]:
SVMmodel = SVC(kernel = 'linear', cache_size = 200)#,gamma ='scale'

In [47]:
%%time
SVMmodel.fit(x_train,y_train)
y_pred2 = SVMmodel.predict(x_test)

CPU times: total: 1.08 s
Wall time: 1.11 s

In [48]:
print('score of SVM model is: ', SVMmodel.score(x_test,y_test))

score of SVM model is:  0.9558359621451105

In [49]:
pd.crosstab(y_test,y_pred2,rownames=['Actual'],colnames=['Prediction'],margins = True)

Prediction  female  male  All
Actual
female         303    20  323
male             8   303  311
All            311   323  634

In [50]:
print("\t\t\tSVM report:\n",classification_report(y_test,y_pred2))
print("SVM Accuracy score: ",accuracy_score(y_test,y_pred2)*100,"%")

			SVM report:
               precision    recall  f1-score   support

      female       0.97      0.94      0.96       323
        male       0.94      0.97      0.96       311

    accuracy                           0.96       634
   macro avg       0.96      0.96      0.96       634
weighted avg       0.96      0.96      0.96       634

SVM Accuracy score:  95.58359621451105 %

## K-Nearest Neighbours

In [51]:
KNmodel = KNeighborsClassifier(n_neighbors = 8, weights= 'distance', algorithm= 'kd_tree',leaf_size=15 ,metric = 'minkowski', p = 1)
KNmodel.keepdims = "True"

In [52]:
%%time
KNmodel.fit(x_train, y_train)
y_pred3 = KNmodel.predict(x_test)

CPU times: total: 46.9 ms
Wall time: 39.5 ms

In [53]:
print('score of KNN model is: ', KNmodel.score(x_test,y_test))

score of KNN model is:  0.8470031545741324

In [54]:
pd.crosstab(y_test,y_pred3,rownames=['Actual'],colnames=['Prediction'],margins = True)

Prediction  female  male  All
Actual
female         265    58  323
male            39   272  311
All            304   330  634

In [55]:
print("\t\t\tKNN report:\n",classification_report(y_test,y_pred3))
print("KNN Accuracy score: ",accuracy_score(y_test,y_pred3)*100,"%")

			KNN report:
               precision    recall  f1-score   support

      female       0.87      0.82      0.85       323
        male       0.82      0.87      0.85       311

    accuracy                           0.85       634
   macro avg       0.85      0.85      0.85       634
weighted avg       0.85      0.85      0.85       634

KNN Accuracy score:  84.70031545741324 %

## Decision Trees

In [56]:
DTmodel = DecisionTreeClassifier(criterion='gini', splitter='best', max_depth = 20,random_state = 5)

In [57]:
%%time
DTmodel.fit(x_train,y_train)
y_pred4 = DTmodel.predict(x_test)

CPU times: total: 46.9 ms
Wall time: 51.9 ms

In [58]:
y_pred4 = np.array(y_pred4)
print('score of decision tree model is: ', DTmodel.score(x_test,y_test))

score of decision tree model is:  0.9668769716088328

In [59]:
pd.crosstab(y_test,y_pred4,rownames=['Actual'],colnames=['Prediction'],margins = True)

Prediction  female  male  All
Actual
female         314     9  323
male            12   299  311
All            326   308  634

In [60]:
print("\t\t\tDecision Tree Class report:\n",classification_report(y_test,y_pred4))
print("Decision Tree Accuracy score: ",accuracy_score(y_test,y_pred4)*100,"%")

			Decision Tree Class report:
               precision    recall  f1-score   support

      female       0.96      0.97      0.97       323
        male       0.97      0.96      0.97       311

    accuracy                           0.97       634
   macro avg       0.97      0.97      0.97       634
weighted avg       0.97      0.97      0.97       634

Decision Tree Accuracy score:  96.68769716088327 %

## Logistic Regression

In [61]:
LRmodel = LogisticRegression(penalty='none', solver='newton-cg',max_iter=100, multi_class='auto')

In [62]:
%%time
LRmodel.fit(x_train,y_train)
y_pred5 = LRmodel.predict(x_test)

CPU times: total: 734 ms
Wall time: 195 ms

In [63]:
print('score of Log Reg model is: ',LRmodel.score(x_test,y_test))

score of Log Reg model is:  0.9621451104100947

In [64]:
pd.crosstab(y_test,y_pred5,rownames=['Actual'],colnames=['Prediction'],margins = True)

Prediction  female  male  All
Actual
female         311    12  323
male            12   299  311
All            323   311  634

In [65]:
print("\t\t\tLog Reg Class report:\n",classification_report(y_test,y_pred5))
print("Log Reg Accuracy score: ",accuracy_score(y_test,y_pred5)*100,"%")

			Log Reg Class report:
               precision    recall  f1-score   support

      female       0.96      0.96      0.96       323
        male       0.96      0.96      0.96       311

    accuracy                           0.96       634
   macro avg       0.96      0.96      0.96       634
weighted avg       0.96      0.96      0.96       634

Log Reg Accuracy score:  96.21451104100946 %

## All models

In [66]:
list1 = [y_pred1,y_pred2,y_pred3,y_pred4,y_pred5]
d =['Artificial Neural Network','Support Vector Machine','K-Nearest Neighbours','Decision Tree','Logistic Regression']
a={} 
k=0
list2 = []
for i in list1:
    list2.append(accuracy_score(i,y_test)*100)
for i in d:
    a[i] = list2[k]
    k+=1
print("List of all model accuracies:\n", a)
print("The most accurate model is:", max(a, key=a.get))

List of all model accuracies:
 {'Artificial Neural Network': 96.05678233438486, 'Support Vector Machine': 95.58359621451105, 'K-Nearest Neighbours': 84.70031545741324, 'Decision Tree': 96.68769716088327, 'Logistic Regression': 96.21451104100946}
The most accurate model is: Decision Tree

In [67]:
count = 0
for i in y_test:
    if i == 'female':
        count = count + 1
print(count)

count_2 = 0
for i in y_test:
    if i == 'male':
        count_2 = count_2 + 1
print(count_2)

323
311